@use '../../../colors/colors';
@use '../../../typography/typography';

.sidenavItem {
  box-sizing: border-box;
  height: 52px;
  margin-bottom: 2px;

  a {
    text-decoration: none;
  }

  &.collapsed {
    margin-bottom: 12px;
  }
}
