@use '../../colors/colors';
@use '../../typography/typography';

.baseTimer {
  position: relative;
  height: 14px;
  width: 14px;
  line-height: 1;
  font-size: 16px;
  padding: 2px;
}

.baseTimerCircle {
  fill: none;
  stroke: none;
}

.baseTimerPathElapsed {
  stroke-width: 2px;
  stroke: colors.$dash-green-04;
}

.baseTimerPathRemaining {
  stroke-width: 2px;
  transform: rotate(90deg);
  transform-origin: center;
  transition: stroke 250ms ease-out;
  transition: stroke-dasharray 1s linear;
  stroke: colors.$mid-green-00;

  &.alertPath {
    stroke: colors.$orange-00;
  }
}

.baseTimerSvg {
  transform: scaleX(-1);
}
