@use '../../colors/colors';
@use '../../typography/typography';

.password {
  @include typography.mono-medium;

  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
  cursor: default;

  &:focus {
    outline: none;
  }

  .letter {
    color: inherit;
  }

  .number {
    color: colors.$validator-green;
  }

  .special {
    color: colors.$orange-00;
  }
}
