@use '../../colors/colors';
@use '../../typography/typography';

.button {
  align-items: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  min-width: 60px;
  outline: none;
  transition: all 0.15s;

  &::-moz-focus-inner {
    border: 0;
  }

  /* Size */

  &.small {
    @include typography.button-small;

    height: 32px;
    padding: 8px 16px;
  }

  &.medium {
    @include typography.button-medium;

    height: 40px;
    padding: 10px 16px;
  }

  &.large {
    @include typography.button-large;

    height: 48px;
    padding: 14px 24px;
  }

  /* Colors based on Nature and Theme */

  &.light {
    &.primary {
      background-color: colors.$mid-green-00;
      border-color: colors.$mid-green-00;
      color: colors.$white;

      &:focus,
      &:hover:enabled {
        background-color: colors.$dash-green-00;
        border-color: colors.$dash-green-00;
      }

      &:active:enabled {
        background-color: colors.$dash-darker-green-00;
        border-color: colors.$dash-darker-green-00;
      }
    }

    &.secondary {
      background-color: rgba(colors.$dash-green-05, 0);
      border-color: colors.$dash-green-05;
      color: colors.$dash-green-00;

      &:focus,
      &:hover:enabled {
        background-color: colors.$dash-green-05;
      }

      &:active:enabled {
        background-color: colors.$dash-green-03;
        border-color: colors.$dash-green-03;
      }
    }

    &.danger {
      background-color: colors.$functional-red-02;
      border-color: colors.$functional-red-02;
      color: colors.$white;

      &:focus,
      &:hover:enabled {
        background-color: colors.$functional-red-01;
        border-color: colors.$functional-red-01;
      }

      &:active:enabled {
        background-color: colors.$functional-red-00;
        border-color: colors.$functional-red-00;
      }
    }

    &.ghost {
      background-color: transparent;
      border-color: transparent;
      color: colors.$mid-green-00;

      &:focus,
      &:hover:enabled {
        color: colors.$dash-green-00;
      }

      &:active:enabled {
        color: colors.$dash-darker-green-00;
      }
    }
  }

  &.dark {
    &.primary {
      background-color: colors.$white;
      border-color: colors.$white;
      color: colors.$dash-green-00;

      &:focus,
      &:hover:enabled {
        background-color: colors.$mid-green-03;
        border-color: colors.$mid-green-03;
      }

      &:active:enabled {
        background-color: colors.$mid-green-01;
        border-color: colors.$mid-green-01;
      }
    }

    &.secondary {
      background-color: rgba(colors.$dash-green-01, 0);
      border-color: colors.$dash-green-01;
      color: colors.$white;

      &:focus,
      &:hover:enabled {
        background-color: colors.$dash-green-01;
        border-color: colors.$dash-green-01;
        color: colors.$white;
      }

      &:active:enabled {
        background-color: colors.$dash-green-02;
        border-color: colors.$dash-green-02;
        color: colors.$white;
      }
    }

    &.ghost {
      background-color: transparent;
      border-color: transparent;
      color: colors.$white;

      &:focus,
      &:hover:enabled {
        color: colors.$mid-green-02;
      }

      &:active:enabled {
        color: colors.$mid-green-00;
      }
    }
  }

  &.warning {
    &.primary {
      background-color: colors.$warning-red-00;
      border-color: colors.$warning-red-00;
      color: colors.$white;

      &:focus,
      &:hover:enabled {
        background-color: colors.$warning-red-01;
        border-color: colors.$warning-red-01;
      }

      &:active:enabled {
        background-color: colors.$warning-red-01;
        border-color: colors.$warning-red-01;
      }
    }

    &.secondary {
      background-color: rgba(colors.$orange-00, 0);
      border-color: colors.$warning-red-00;
      color: colors.$warning-red-00;

      &:focus,
      &:hover:enabled {
        background-color: colors.$orange-03;
      }

      &:active:enabled {
        background-color: colors.$orange-03;
        border-color: colors.$orange-03;
      }
    }

    &.ghost {
      background-color: transparent;
      border-color: transparent;
      color: colors.$warning-red-00;

      &:focus,
      &:hover:enabled {
        color: colors.$orange-03;
      }

      &:active:enabled {
        color: colors.$orange-03;
      }
    }
  }

  /* Disabled pseudo-state */

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    * {
      pointer-events: none;
    }
  }

  /* Content */

  .content {
    align-items: center;
    display: flex;
    font-family: inherit;
    font-weight: inherit;
    height: 100%;
    justify-content: center;
  }
}
