.wrapper {
  width: 100%;
}

.wrapperItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
