/* Text */
@mixin body-medium {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

@mixin body-small {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

@mixin paragraph-small {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

/* Button */
@mixin button-common {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
}

@mixin button-small {
  @include button-common;
  font-size: 12px;
  line-height: 16px;
}

@mixin button-medium {
  @include button-common;
  font-size: 16px;
  line-height: 20px;
}

@mixin button-large {
  @include button-common;
  font-size: 16px;
  line-height: 20px;
}

/* Password */
@mixin mono-medium {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
