@use '../../colors/colors';
@use '../../typography/typography';

.root {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &.medium {
    height: 70px;
  }
  &.small {
    height: 52px;
  }
  &.error {
    background-color: colors.$accessible-validator-red;
  }
  &.success {
    background-color: colors.$accessible-validator-green;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.description {
  color: colors.$white;

  &.medium {
    font-family: 'Public Sans';
    line-height: 20px;
    font-size: 18px;
    padding-left: 20px;
  }
  &.small {
    @include typography.paragraph-small;
    padding-left: 16px;
  }
}

.icon {
  padding-left: 20px;
}

.closeIcon {
  padding-left: 20px;
  padding-right: 20px;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: transparent;
    border: 1px solid transparent;
  }
}
