@use '../../colors/colors';
@use '../../typography/typography';

.iconButton {
  min-width: unset;
  min-height: unset;

  /* Size */

  &.small {
    height: 32px;
    width: 32px;
    padding: 4px;
  }

  &.medium {
    height: 40px;
    width: 40px;
    padding: 8px;
  }

  &.large {
    height: 48px;
    width: 48px;
    padding: 12px;
  }

  /* Colors based on Theme */

  &.light {
    &:focus,
    &:hover:enabled {
      border-color: colors.$dash-green-05;
    }

    &:active:enabled {
      border-color: colors.$dash-green-05;
      background-color: colors.$dash-green-05;
    }
  }

  &.dark {
    &:focus,
    &:hover:enabled {
      background-color: colors.$dash-green-01;
      border-color: colors.$dash-green-01;
    }

    &:active:enabled {
      background-color: colors.$dash-green-02;
      border-color: colors.$dash-green-02;
    }
  }
}
