@use '../../colors/colors';
@use '../../typography/typography';

.checkboxContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Opera and Firefox */

  &:hover {
    .styledCheckbox {
      border-color: colors.$mid-green-00;
    }
  }

  &.disabled {
    cursor: default;
    .styledCheckbox {
      border-color: colors.$mid-green-00;
    }
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

/*
* Hide checkbox visually but remain accessible to screen readers.
* Source: https://polished.js.org/docs/#hidevisually
*/
.hiddenCheckBox {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    & + .styledCheckbox {
      border-color: colors.$mid-green-00;

      &.checked {
        background: colors.$dash-green-00;
        border-color: colors.$dash-green-00;
      }
    }
  }

  &:disabled {
    & + .styledCheckbox {
      border-color: colors.$dash-green-05;

      &.checked {
        background: colors.$mid-green-03;
        border-color: colors.$mid-green-03;
      }
    }
  }
}

.styledCheckbox {
  align-items: center;
  background: colors.$white;
  border: 1px solid colors.$dash-green-05;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: inherit;
  display: flex;
  height: 20px;
  justify-content: center;
  transition: all 150ms;
  width: 20px;

  .checkmark {
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
    height: 20px;
    position: absolute;
    stroke: colors.$white;
    stroke-width: 2;
    visibility: hidden;
    width: 20px;
  }

  &.checked {
    background: colors.$mid-green-00;
    border-color: colors.$mid-green-00;

    .checkmark {
      visibility: visible;
    }

    &:hover {
      background: colors.$dash-green-00;
      border-color: colors.$dash-green-00;
    }

    &.disabled {
      background: colors.$mid-green-03;
      border-color: colors.$mid-green-03;
    }
  }

  &.disabled {
    background: colors.$dash-green-06;
    border-color: colors.$dash-green-05;
  }
}

.label {
  @include typography.paragraph-small;
  cursor: inherit;
  margin-left: 8px;
}
