@use '../../colors/colors';
@use '../../typography/typography';

/* remove edge decorators */
::-ms-clear {
  display: none;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .label {
    @include typography.body-small;

    color: colors.$dash-green-01;
    text-transform: uppercase;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .feedback {
    @include typography.body-small;

    &.warning {
      color: colors.$orange-00;
    }

    &.error {
      color: colors.$functional-red-02;
    }
  }

  .container {
    position: relative;
    margin-bottom: 4px;
    width: 100%;

    .input {
      outline: none;

      /* typography */
      @include typography.body-medium;

      /* colors */
      color: colors.$black;
      background: colors.$white;
      height: 40px;
      width: 100%;

      /* border */
      border: 1px solid colors.$dash-green-05;
      box-sizing: border-box;
      border-radius: 4px;

      padding-left: 16px;
      padding-right: 12%;

      &:focus {
        border-color: colors.$mid-green-01;
      }

      &:disabled {
        background: colors.$dash-green-06;
        cursor: not-allowed;
      }

      &.warning {
        border-color: colors.$orange-00;
      }

      &.error {
        border-color: colors.$functional-red-02;
      }
    }

    .icon {
      position: absolute;
      top: 10px;
      right: 16px;
      background: none;
      border: none;
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }
}
