@use '../../colors/colors';
@use '../../typography/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  padding: 16px;

  &.subtle {
    background-color: colors.$mid-green-05;
    color: colors.$dash-green-00;
  }

  &.strong {
    background-color: colors.$dash-green-00;
    color: colors.$white;
  }

  &.warning {
    background-color: colors.$orange-05;
    color: colors.$orange-00;
  }

  &.alert {
    background-color: colors.$red-05;
    color: colors.$functional-red-01;
  }
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .icon {
    align-self: flex-start;
    margin-right: 10px;
  }

  .title {
    margin: 0;

    &.small {
      @include typography.body-small;
    }

    &.simple {
      @include typography.paragraph-small;
    }

    &.descriptive {
      @include typography.body-medium;
    }
  }
}

.description {
  @include typography.body-small;
  margin-top: 10px;
}

.actionBox {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;

  button:not(:last-child) {
    margin-right: 16px;
  }
}
