@use '../../colors/colors.scss';
@use '../../typography/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .passwordStrength {
      background-color: colors.$dash-green-05;
      border-radius: 12px;
      height: 4px;
      margin: 0px 4px;
      width: 20%;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &.weakest,
      &.weak {
        background-color: colors.$red-00;
      }

      &.acceptable {
        background-color: colors.$orange-00;
      }

      &.good,
      &.strong {
        background-color: colors.$validator-green;
      }
    }
  }

  .additionalInfo {
    @include typography.body-small;

    margin-top: 4px;
    color: colors.$dash-green-01;
  }
}
