@use '../../colors/colors.scss';
@use '../../typography/typography';

.root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  max-width: 100%;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;

    .passwordStrengthBackground {
      border-radius: 2px;
      height: 4px;
      position: relative;
      width: 100%;

      > span {
        display: block;
        height: 100%;
      }
    }

    .passwordStrength {
      border-radius: 2px;
      display: block;
      height: 100%;
      -moz-transition: width 1s ease-out;
      -webkit-transition: width 1s ease-out;
      transition: width 1s ease-out;

      &.weakest,
      &.weak {
        background-color: colors.$accessible-validator-red;
      }

      &.acceptable {
        background-color: colors.$orange-00;
      }

      &.good,
      &.strong {
        background-color: colors.$accessible-validator-green;
      }

      &.queer {
        // Philadelphia Pride Flag colors
        // https://en.wikipedia.org/wiki/Rainbow_flag_(LGBT)#/media/File:Philadelphia_Pride_Flag.svg
        --philly-pride-gradient: linear-gradient(
          90deg,
          #000 0%,
          #000 12.5%,
          #784f17 12.5%,
          #784f17 25%,
          #e40303 25%,
          #e40303 37.5%,
          #ff8c00 37.5%,
          #ff8c00 50%,
          #ffed00 50%,
          #ffed00 62.5%,
          #008026 62.5%,
          #008026 75%,
          #004dff 75%,
          #004dff 87.5%,
          #750787 87.5%,
          #750787 100%
        );

        background: var(--philly-pride-gradient);
      }
    }
  }

  .additionalInfo {
    @include typography.body-small;

    color: colors.$dash-green-01;
    margin-top: 4px;
  }
}
