@use '../../colors/colors.scss';
@use '../../typography/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
  max-width: 318px;

  &.fullWidth {
    max-width: 100%;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 317px;
    width: 100%;

    &.fullWidth {
      max-width: 100%;
    }

    .passwordStrengthBackground {
      width: 100%;
      background-color: colors.$dash-green-05;
      border-radius: 2px;
      height: 4px;
      position: relative;

      > span {
        display: block;
        height: 100%;
      }
    }

    .passwordStrength {
      display: block;
      border-radius: 2px;
      height: 100%;
      transition: width 1s ease-out;
      -moz-transition: width 1s ease-out;
      -webkit-transition: width 1s ease-out;

      &.weakest,
      &.weak {
        background-color: colors.$accessible-validator-red;
      }

      &.acceptable {
        background-color: colors.$orange-00;
      }

      &.good,
      &.strong {
        background-color: colors.$accessible-validator-green;
      }
    }
  }

  .additionalInfo {
    @include typography.body-small;

    margin-top: 4px;
    color: colors.$dash-green-01;
  }
}
